div{
    background-color: lightblue;
    border: 1px solid black;
}

.container{
    flex-direction: row; /* column*/
    align-items: start;
    /*height: 100px;*/
    /*width: 400px;*/
    border: none;
    background-color: blue;
    display: flex;
}
.container > :first-child {
    align-self: stretch;
}
.selected{
    align-self: center;
}
